* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.header {
  background: #fff;
  padding: 15px 0;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .logo {
  height: 40px;
}
  .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
/* there in module videos are not mention but i use this because of all button */
.btn {
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}
.btn-outline {
    background-color: #30B868;
  border: 2px solid #3ca370;
  border-radius: 5px;
  color: white;
}

.hero {
  position: relative;
  min-height: 100vh;
  background: url("./assets/hero-bg.png") center / cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 30, 50, 0.75);
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 820px;
  margin: 0 auto;
  text-align: center;
}
  .badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 18px;
  border-radius: 999px;
  background: #ffffff;
  color: #2f855a;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 28px;
}
.hero h1{
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.15;
color: #ffffff;
  margin-bottom: 20px;
}

.hero h1 span{ display: block;
  color: #3ca370;
}
.hero p {
  max-width: 680px;
  margin: 0 auto 36px auto;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
} 
.hero-buttons { display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-primary {
background: #3ca370;
  color: #ffffff;
  padding: 16px 46px;
  border-radius: 4px;
  font-weight: 600;
}
.btn-secondary {
  border: 2px solid #FFFFFF;
  color: #ffffff;
  padding: 16px 46px;
  border-radius: 4px;
}